<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="Console" layout="${longdate} | ${level:uppercase=true} | ${message}" />
    <target name="logfile" xsi:type="File"
            fileName="log/influxdbbackuplogfile.txt"
            layout="${longdate} | ${level:uppercase=true} | ${message}"
            maxArchiveFiles="4"
            archiveAboveSize="10240"
            archiveEvery="Day" />
  </targets>

  <rules>
    <logger name="Quartz*" minlevel="Trace" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>